
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="Contact-Header" class="py-5 text-center text-light">
    <div class="dark-overly">
        <div class="container">
            <div class="row">
                <div class="col mt-5 pt-4">
                    <h2>About Contact</h2>
                    <p class="lead">
                        It is a long established fact that a reader will be distracted by the readable content of
                        a page when looking at its layout.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@*Contact form section*@
<section id="Contact-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center mb-0">Please fill out this form to contact us.</h4>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Fast Name" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Last Name" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" placeholder="E-mail" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Phone Number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea cols="30" rows="5" class="form-control" placeholder="Messages"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" value="Send" class="btn btn-block btn-dark" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4>Get In Touch</h4>
                        <p class="lead mb-2">It is a long established fact that a reader will be distracted.</p>
                        <h4>Address</h4>
                        <p class="mb-2">House No #100, Uttara, Dhaka</p>
                        <h4>E-mail</h4>
                        <p class="mb-2">samim.hossen5274@gmail.com</p>
                        <h4>Phone</h4>
                        <p class="mb-0">+880 1762-164746</p>
                        <p class="mb-2">+880 1533-021557</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>