
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<section id="Service-Header" class="py-5 text-center text-light">
    <div class="dark-overly">
        <div class="container">
            <div class="row">
                <div class="col mt-5 pt-4">
                    <h2>Services Us</h2>
                    <p class="lead">
                        It is a long established fact that a reader will be distracted by the readable content of
                        a page when looking at its layout.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@*Price Plan*@
<section id="price-plan" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-2">
                <div class="card  text-center">
                    <div class="card-header">
                        <h3>Service Plan One</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3>$59.99/Month</h3>
                        </div>
                        <div class="card-text lead mb-3">
                            It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature One</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Two</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Three</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Foute</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Five</i>
                            </li>
                        </ul>
                        <a class="btn btn-block text-light btn-primary mt-2">Order Now</a>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted mb-0">1 Year Plan</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <div class="card  text-center">
                    <div class="card-header">
                        <h3>Service Plan Two</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3>$59.99/Month</h3>
                        </div>
                        <div class="card-text lead mb-3">
                            It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature One</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Two</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Three</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Foute</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Five</i>
                            </li>
                        </ul>
                        <a class="btn btn-block text-light btn-primary mt-2">Order Now</a>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted mb-0">1 Year Plan</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 my-2">
                <div class="card  text-center">
                    <div class="card-header">
                        <h3>Service Plan Three</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h3>$59.99/Month</h3>
                        </div>
                        <div class="card-text lead mb-3">
                            It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature One</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Two</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Three</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Foute</i>
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-check"> Feature Five</i>
                            </li>
                        </ul>
                        <a class="btn btn-block text-light btn-primary mt-2">Order Now</a>
                    </div>
                    <div class="card-footer">
                        <p class="text-muted mb-0">1 Year Plan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*FAQ 58 *@
<section id="accordion" class="py-5 bg-dark">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h2 class="text-light">Frequently Asked Question</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card bg-light text-light my-2">
                    <div class="card-header" id="HeadingOne">
                        <h5 class="mb-0">
                            <a href="#collapseOne" class="text-dark" data-toggle="collapse">
                                Question One?
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse p-3" data-parent="#accordion">
                        <p class="lead mb-0 text-dark">
                            It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.
                        </p>
                    </div>
                </div>
                <div class="card bg-light text-light my-2">
                    <div class="card-header" id="HeadingTwo">
                        <h5 class="mb-0">
                            <a href="#collapseTwo" class="text-dark" data-toggle="collapse">
                                Question Two?
                            </a>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse p-3" data-parent="#accordion">
                        <p class="lead mb-0 text-dark">
                            It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.
                        </p>
                    </div>
                </div>
                <div class="card bg-light text-light my-2">
                    <div class="card-header" id="HeadingThree">
                        <h5 class="mb-0">
                            <a href="#collapseThree" class="text-dark" data-toggle="collapse">
                                Question Three?
                            </a>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse p-3" data-parent="#accordion">
                        <p class="lead mb-0 text-dark">
                            It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-light text-light my-2">
                    <div class="card-header" id="HeadingFour">
                        <h5 class="mb-0 text-dark">
                            <a href="#collapseFour" class="text-dark" data-toggle="collapse">
                                Question Four?
                            </a>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse p-3" data-parent="#accordion">
                        <p class="lead mb-0 text-dark">
                            It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.
                        </p>
                    </div>
                </div>
                <div class="card bg-light text-light my-2">
                    <div class="card-header" id="HeadingSix">
                        <h5 class="mb-0 text-dark">
                            <a href="#collapseFive" class="text-dark" data-toggle="collapse">
                                Question Five?
                            </a>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse p-3" data-parent="#accordion">
                        <p class="lead mb-0 text-dark">
                            It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.
                        </p>
                    </div>
                </div>
                <div class="card bg-light text-light my-2">
                    <div class="card-header" id="HeadingSix">
                        <h5 class="mb-0">
                            <a href="#collapseSix" class="text-dark" data-toggle="collapse">
                                Question Six?
                            </a>
                        </h5>
                    </div>
                    <div id="collapseSix" class="collapse p-3" data-parent="#accordion">
                        <p class="lead mb-0 text-dark">
                            It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.It is a long established fact that a reader will be distracted by the readable content of
                            a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>