
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="Vlog-Header" class="py-5 text-center text-light">
    <div class="dark-overly">
        <div class="container">
            <div class="row">
                <div class="col mt-5 pt-4">
                    <h2>Vlog</h2>
                    <p class="lead">
                        It is a long established fact that a reader will be distracted by the readable content of
                        a page when looking at its layout.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@*Vlog Section 59 *@
<section id="Vlog-section" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-columns">
                    <div class="card">
                        <img src="~/img/bg (20).JPG" class="img-fluid card-img-top" alt="Photo loading..." />
                        <div class="card-body">
                            <div class="card-title">
                                <h4>Vlog Post One</h4>
                                <small class="text-muted">Written By SAMIM HosseN</small>
                                <hr />
                                <p class="lead">
                                    It is a long established fact that a reader will be distracted by the readable content of
                                    a page when looking at its layout.
                                </p>
                                <a href="#" class="btn btn-block btn-dark">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="~/img/bg (22).JPG" class="img-fluid card-img-top" alt="Photo loading..." />
                        <div class="card-body">
                            <div class="card-title">
                                <h4>Vlog Post Two</h4>
                                <small class="text-muted">Written By SAMIM HosseN</small>
                                <hr />
                                <p class="lead">
                                    It is a long established fact that a reader will be distracted by the readable content of
                                    a page when looking at its layout.
                                </p>
                                <a href="#" class="btn btn-block btn-dark">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="~/img/bg (26).JPG" class="img-fluid card-img-top" alt="Photo loading..." />
                        <div class="card-body">
                            <div class="card-title">
                                <h4>Vlog Post Three</h4>
                                <small class="text-muted">Written By SAMIM HosseN</small>
                                <hr />
                                <p class="lead">
                                    It is a long established fact that a reader will be distracted by the readable content of
                                    a page when looking at its layout.
                                </p>
                                <a href="#" class="btn btn-block btn-dark">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

